/* IMPOSTAZIONI GENERALI */
:root{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
}
/* HEADER */
#logo{
    object-position: center;
}
#heading{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    color:white;
}

#navigation{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.color_white{
    color:white;
}

.header_box{
    min-width: 450px;
    height: auto;
    background-color: rgb(36, 106, 134);
    object-position: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
